<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IdentifyFace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7086FFD41F0361D100969BFF</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>7086FFED1F0361D100969BFF</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>7086FFF81F0361D100969BFF</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
